.vscode
*.log
*.o
*.a
*.gcno
*.gcda
*.gcov
*.out
*.gch
*.test
*.sh
*.txt
*.json
vgcore*
myftp
valgrind.log
output*
valgrind.*
tests/r.0.0.mca
test_point
thing.txt
test.txt
test_main.cpp
test
architecture.txt
push_script.sh
nanotekspice
test_nanotekspice
coverage
log.bin
bun.lock
node_modules
